// fonts
$mainFont: "Darker Grotesque", sans-serif;
$secondaryFont: "Playfair Display", serif;

$green: #ffc576;
$white: #fff;
$darkGreen: #1f2336;
$darkBlue: #313552;
$purple: #2e2f48;
$blue: #48216b;
