.about {
  background-color: $darkGreen;
  background-image: url("/build/img/background_shapes.webp");

  &__container {
    // height: 100vh;
    // background: $darkBlue;
    .about__title {
      color: #fff;
      font-family: Playfair Display, serif;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 1.2px;
      margin-bottom: 5rem;
    }
    .about__subtitle {
      font-size: 2rem;
      text-transform: uppercase;
      color: $green;
      margin-bottom: 2rem;
    }
  }
}

.about__container {
  padding: 3rem;
  .about-me {
    @media (min-width: 768px) {
      padding: 5rem 4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      margin-bottom: 15rem;
    }
    .about-me-img {
      display: none;
    }
    @media (min-width: 768px) {
      .about-me-img {
        display: block;
        text-align: center;
        img {
          max-width: 80%;
          object-fit: contain;
        }
      }
    }
    .about-me-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .about-me__subtitle {
        text-transform: uppercase;
        color: $green;
        font-weight: 900;
        padding-bottom: 3rem;
      }
      .about-me__title {
        color: $white;
        font-family: $secondaryFont;
        font-size: 5.5rem;
        font-weight: 300;
        padding-bottom: 5rem;
      }
      .about-me__description {
        color: $white;
        font-size: 2.3rem;
        font-weight: 500;
        letter-spacing: 1.2px;
        p {
          margin-bottom: 2rem;
        }
      }

      .about-me__cv {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.5rem;
        letter-spacing: 2px;
        padding: 1rem 3rem;
        margin-top: 2rem;
        border: 1px solid $green;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $green;
          color: #000;
          cursor: pointer;
        }
      }
    }
  }
}
